@use "../../root" as root;

.categoryBar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 26%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  background: root.$bg-card;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  .categoryBar {
    grid-auto-columns: 18%;
  }
}
