@use "../../root" as root;

.category {
  @include root.useFlex(column);
  align-items: center;
  padding: 1rem;
  // background: root.$bg-card;
  border-radius: 1rem;
  position: relative;

  > img {
    border-radius: 50%;
    width: 16vw;
    height: 9vh;
  }

  p {
    margin: 0;
    padding: 0;
  }

  &__item {
    @include root.useFlex(row);
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  &:hover &__item__dropdown {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
    color: blue;
  }
}

.subcategory-list {
  display: none;
  position: absolute;
  top: 95%;
  margin-top: 0;
  background-color: root.$bg-card;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0.5rem black;
  border-radius: 0.5rem;
  width: 100%;

  .subcategory-item {
    @include root.useFlex(row);
    width: 100%;
    gap: 1rem;
    padding: 0.5rem 0;
    justify-content: space-between;

    &:hover {
      .innerCategory-list {
        display: block;
      }
    }
  }
}

.innerCategory-list {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: root.$bg-card;
  box-shadow: 0 0 0.5rem black;
  border-radius: 0.5rem;
  width: 100%;

  .innerCategory-item {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    &:hover {
      font-weight: bolder;
      cursor: pointer;
    }
  }
}

.category:hover {
  .subcategory-list {
    display: block;
  }

  p {
    color: blue;
  }
}

@media screen and (orientation: landscape) {
  .category {
    > img {
      width: 9vw;
      height: 16vh;
    }
  }
}

@media screen and (max-width: 768px) {
  .subcategory {
    display: none;
  }
}
