@use "../../root" as root;

$subcategory-border-radius: 0.5rem;

.category {
  @include root.useFlex(column);
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;

  > img {
    border-radius: 50%;
    width: 16vw;
    height: 9vh;
  }

  p {
    margin: 0;
    padding: 0;
  }

  &__item {
    @include root.useFlex(row);
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    &__dropdown {
      transform: rotate(0deg);
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover {
    .category__item__dropdown {
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
      color: blue;
    }

    .subcategory-list {
      display: block;
    }

    .category__item__title {
      color: blue;
    }
  }
}

.selected {
  background-color: aquamarine;
}

.subcategory-list,
.innerCategory-list {
  display: none;
  position: absolute;
  background-color: root.$bg-card;
  padding: 0;
  box-shadow: 0 0 0.5rem black;
  border-radius: $subcategory-border-radius;
  width: 20vw;

  li:nth-child(1) {
    border-radius: $subcategory-border-radius $subcategory-border-radius 0 0;
  }

  li:last-child {
    border-radius: 0 0 $subcategory-border-radius $subcategory-border-radius;
  }
}

.subcategory-list {
  top: 95%;
  margin-top: 0;

  .subcategory-item {
    @include root.useFlex(row);
    gap: 1rem;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
    align-items: center;

    &:hover {
      .innerCategory-list {
        display: block;
      }
      @extend .selected;
    }
  }
}

.innerCategory-list {
  left: 100%;
  top: 0;

  .innerCategory-item {
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: flex-start;

    &:hover {
      cursor: pointer;
      font-weight: bolder;
      @extend .selected;
    }
  }
}

@media screen and (orientation: landscape) {
  .category {
    > img {
      width: 9vw;
      height: 16vh;
    }
  }
}

@media screen and (max-width: 768px) {
  .subcategory {
    display: none;
  }
}
