.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--HEADER-BGCOLOR);
  font-size: 2rem;
  align-items: center;
  justify-content: space-evenly;
}

.input {
  background-color: whitesmoke;
  font-size: inherit;
  width: 60%;
  text-align: center;
  border: 1px whitesmoke;
  border-radius: 1rem;
  color: gray;
  padding: 0.5rem;
}

.input:focus {
  outline: none;
}

.login-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  font-size: inherit;
  background-color: var(--HEADER-BGCOLOR);
  border: 1px var(--HEADER-BGCOLOR);
  color: black;
  padding: 0.5rem;
}

.login-btn:hover {
  background-color: blue;
  color: white;
}

.cart-btn {
  font-size: inherit;
  background-color: var(--HEADER-BGCOLOR);
  border: 1px var(--HEADER-BGCOLOR);
  color: black;
  padding: 0.5rem;
}
